
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Curso de Angular 2</a>
        </div>
        
        <ul class="nav navbar-nav" *ngFor="let link of links">
            <li>
                <!--<a [routerLink]="['home']">Home</a>-->
                <a [routerLink]=[link.rota]> {{link.nome}}</a>
            </li>
        </ul>

    </div>
</nav>  

<main class="container">
    
<!-- assim como o ng-wiew, temos o router-outlet-->
    <router-outlet></router-outlet>

</main>